#srokiadress table td.frst .addr{
	height:56px
}
#srokiadress table td{
	vertical-align: top;
	padding: 0;
}
.frst .adr_body{
	float:left;
	width: 75px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	float: left;
}
#sroki_content{
	width:786px;
	/*height:606px;*/
	padding-top:30px;
	margin:0 auto;
	text-align:left;
}
.sroki_info{
	width:100%;
	height:86px;
}
.sroki_info .title_info{
	height:22px;
	font:bold 14px arial;

}
.sroki_info .sroki_info_body{
	width:100%;
	height:63px;
}
.sroki_info .sroki_info_body p{
	font:normal 12px arial;
	padding:2px 0;
}
#choiseobl{
	width:100%;
	height:147px;
}
#choiseobl .choiseobl_title_info{
	width:100%;
	height:19px;
	font:bold 14px arial;
}
#choiseobl #choiseoblbody{
	width:100%;
	height:89px;
}
#choiseobl #choiseoblbody table{
	width:100%;
	height:89px;
	border-collapse: separate;
	border-spacing: 0;
}
#choiseobl #choiseoblbody table td{
	padding:0;
	width:157px;
}
#choiseobl #choiseoblbody table ul{
	list-style:none;
	margin:0;
	padding:0;
}
#choiseobl #choiseoblbody table ul li{
	width:100%;
	height:17px;
	padding: 2px;
}
#choiseobl #choiseoblbody table ul li a{
	text-decoration:underline;
	cursor:pointer;
	font:normal 12px arial;
}
#choiseobl #choiseoblbody table ul li.checkad a{
	text-decoration:none;
	font:normal 12px arial;
	background:#FFA500;
	color:white;
}
#choisecity{
	margin-top:16px;
	width:100%;
}
#choisecity .choisecity_title_info{
	width:100%;
	height:23px;
	font:bold 14px arial;
}
#choisecity #choisecitybody{
	width:100%;
}
#choisecity #choisecitybody table{
	width:100%;
	border-collapse: separate;
	border-spacing: 0;
	padding: 12px 0;
}
#choisecity #choisecitybody  table td{
	padding:0;
	width:157px;
	height:18px;
}
#choisecity #choisecitybody ul{
	list-style:none;
	height:18px;
	margin:0;
	padding:0;
}
#choisecity #choisecitybody ul li{
	width:100%;
	padding: 2px;
}
#choisecity #choisecitybody ul li a{
	text-decoration:underline;
	cursor:pointer;
	font:normal 12px arial;
}
#choisecity #choisecitybody ul li.checkad a{
	text-decoration:none;
	font:normal 12px arial;
	background:#FFA500;
	color:white;
}
#city_search{
	width:100%;
	height:69px;
}
#srokiadress{
	width:786px;
}
#srokiadress .srokiadresstitle{
	font:bold 14px arial;
	height:18px;
}
#srokiadress #srokiadressbody{
	background:#FAFAFA;
	padding-left: 12px;
}
#srokiadress #srokiadressbody .adr_body{
	width:75px;
	height:56px;
	line-height: 56px;
	text-align: center;
	float:left;
}
#srokiadress #srokiadressbody .adr_body img{
	vertical-align: middle;
}
#srokiadress #srokiadressbody  .right_fl{
	height:70px;
	width:697px;
}
#srokiadress #srokiadressbody  .right_fl div{
	padding-top:10px;
}
#srokiadress #srokiadressbody  .right_fl div p{
	padding: 1px 2px;
}
#srokiadressinfo table{
	width:686px;
	border-collapse: separate;
	border-spacing: 0;
}
#srokiadressinfo table td{
	padding:0;
	width:343px;
	font:normal 12px arial;
	line-height: 1.5;
}
#srokiadressbody .adr_prim{
	height:31px;
	padding-top:15px;
	font:normal 10px arial;
	color:#808080;
}