<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
       
    <mapping class="Model.GoodItem" />
    <mapping class="Model.Comment" />
    <mapping class="Model.User" />
    <mapping class="Model.Bucket" />
    <mapping class="Model.Order" />
    <mapping class="Model.OrderRow" />
    <mapping class="Model.Category" />
    <mapping class="Model.Property" />
   	<mapping class="Model.Value" />
   	<mapping class="Model.Image" />
   	<mapping class="Model.Video" />
    <mapping class="Model.GoodState" />
    <mapping class="Model.Vote" />
    <mapping class="Model.Role" />
    <mapping class="Model.AnonimEmailWatcher" />
    <mapping class="Model.PhoneNumber" />
    <mapping class="Model.PropSegment" />
    <mapping class="Model.Country" />
    <mapping class="Model.Region" />
    <mapping class="Model.Town" />
    <mapping class="Model.DeliveryType" />
    <mapping class="Model.PayType" />
    <mapping class="Model.Adress" />
	<mapping class="Model.News" />
    <mapping class="Model.Action" />
    <mapping class="Model.TextPart" />
    <mapping class="Model.Town_Delivery" />
    <mapping class="Model.EntityField" />
    <mapping class="Model.Page" />
    <mapping class="Model.NewsType" />
    <mapping class="Model.Configuration" />
    <mapping class="Model.Producer" />
    <mapping class="Model.PageGroup" />
     <mapping class="Model.Guarantie" />
     <mapping class="Model.GoodStatus" />
     <mapping class="Model.Good_Guarantie" />
     <mapping class="Model.Slider" />
     <mapping class="Model.SliderImage" />
     
     <mapping class="Model.Adress_Delivery" />
    <mapping class="Model.filters.AdminFormat" />
    <mapping class="Model.filters.FieldPriority" />
    <mapping class="Model.filters.PropRangeFilter" />
    <mapping class="Model.filters.PropValueFilter" />
    <mapping class="Model.BasicConfiguration" />
    
  </session-factory>

</hibernate-configuration>
