#resp {
    position: fixed;
    top:24%;
    left: 38%;
    width: 300px;
    height: 80px;
    background: #CEFE90;
    z-index: 9000001;
    padding:20px;
    padding-left:30px;
    display: none;
    box-shadow: inset 10px -10px 20px 5px rgba(0,0,0,0.5) ;
    border: 1px solid #16181f;
    border-radius:5px;
}

.delref{
    color: #5F5F5F;
    font: bold italic serif;
    font-size:80%;
}
.delref:hover{
    color: blue;
    transition: all 0.2s ease-out;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    cursor: pointer;
}

.test
{
width:50px; height: 20px; background: red;
}

.bodyclass
{
background: gray;
}

.modalDialog {

    position: fixed;

    font-family: Arial, Helvetica, sans-serif;

    top: 75%;

    right: 0;

    bottom: 0;

    left: 0;

    background: rgba(0,0,0,0.8);

    z-index: 999989;

    -webkit-transition: opacity 400ms ease-in;

    -moz-transition: opacity 400ms ease-in;

    transition: opacity 400ms ease-in;

    display: none;

    pointer-events: none;

    padding-top:0% ;
    padding-left:40% ;

}

.modalDialog:target {

    display: block;

    pointer-events: auto;

}

.modalDialog > div {

    width: 400px;

    position: relative;

    margin: 10% auto;

    padding: 5px 20px 13px 20px;

    border-radius: 10px;

    background: #fff;

    background: -moz-linear-gradient(#fff, #999);

    background: -webkit-linear-gradient(#fff, #999);

    background: -o-linear-gradient(#fff, #999);

}

#openModal{
	 display: none;
	 position: relative;
	  width: 400px;
	  height: 200px;
	  background: blue;
}

.goodinfo{
	  position: relative;
	  background: gray;
	  width: 500px;
	  top:-60px;
	  left: 10px;
	  padding: 5px;
}

.goodMenu{position: relative; left: 10px;}
.goodMenuNode{
position: relative; padding-left: 2px; height: 20px; width: 100px; background: blue; color: white;}
.goodMenuNode:active {background: gray;}
.goodMenuNode:hover {cursor: pointer; background: red;}
#params{top:-20px;left: 100px}
#photos{top:-40px;left: 200px}
#voices{top:-60px;left: 300px}

#bucket {
position: absolute;
width:320px;
left: 35%;
top: 100px;
border:solid #105a98 4px;
display: none;
z-index: 10;
overflow: hidden;
background-color:#348c03;
color:#fff;
text-align:center;
padding:10px;
}

#header {
padding: 30px 0px;
width: 100%;
background: #65708b;
background: red;
}

#Dashboardnavigation {
width: 100%;
float: left;
clear: both;
height: 50px;
background: #fff;
}

/***************************************************************
 *  JS-TrackBar
 *
 *   Copyright (C) 2008 by Alexander Burtsev - webew.ru
 *   and abarmot - http://abarmot.habrahabr.ru/
 *   desing: Светлана Соловьева - http://my.mail.ru/bk/concur/
 *
 *  This code is a public domain.
 ***************************************************************/

/* Reset */
table.trackbar div, table.trackbar td {margin:0; padding:0;}
table.trackbar {border-collapse:collapse;border-spacing:0;}
table.trackbar img{border:0;}

/* Styles */
table.trackbar {width:250px; margin: 10px 30px; background:repeat-x url(/resources/imgtrackbar/b_bg_on.gif) top left;}
table.trackbar .l {width:1%; text-align: right; font-size: 1px; background:repeat-x url(/resources/imgtrackbar/b_bg_off.gif) top left;}
table.trackbar .l div {position:relative; width:0; text-align: right; z-index:500; white-space:nowrap;}
table.trackbar .l div img {cursor:pointer;}
table.trackbar .l div span {position:absolute;top:-12px; right:6px; z-index:1000; font:11px tahoma; color:#000;}
table.trackbar .l div span.limit {text-align:left; position:absolute;top:-12px; right:100%; z-index:100; font:11px tahoma; color:#D0D0D0;}
table.trackbar .r {position:relative; width:1%; text-align: left; font-size: 1px; background:repeat-x url(/resources/imgtrackbar/b_bg_off.gif) top right; cursor:default;}
table.trackbar .r div {position:relative; width:0; text-align: left; z-index:500; white-space:nowrap;}
table.trackbar .r div img {cursor:pointer;}
table.trackbar .r div span {position:absolute;top:-12px; left:6px; z-index:1000; font:11px tahoma; color:#000;}
table.trackbar .r div span.limit {position:absolute;top:-12px; left:100%; z-index:100; font:11px tahoma; color:#D0D0D0;}
table.trackbar .c {font-size:1px; width:100%;}